.userCardContainer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
}

.userBox {
  border: 2px solid black;
  width: 30%;
  max-width: 301px;
  margin-bottom: 20px;
  padding: 16px 12px;

  & h2 {
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
  }

  & p.age {
    font-size: 12px;
    line-height: 1;
    font-style: italic;
  }

  & p.category {
    font-size: 12px;
    line-height: 1;
    font-style: inherit;
  }
}


@media screen and (max-width: 768px) {
  .userBox {
    width: 100%;
    max-width: inherit;
  }
}

/* i hate that these are important, but i'm just learning the material-ui library, and will fix it later */
.userBox.priority-1 {
  background-color: orange !important;
}

.userBox.priority-2 {
  background-color: green !important;
}

.userBox.priority-3 {
  background-color: blue !important;
}

.userBox.priority-4 {
  background-color: purple !important;
}
